@model IEnumerable<project.Data.Entities.User>

@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800" style="padding:0 22px 10px">Danh sách người dùng</h1>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a asp-action="Create">Create New</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Họ và tên
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Tài khoản
                        </th>
                        <th>
                            Mật khẩu
                        </th>
                        <th>
                            Quyền
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.fullname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.role.roleName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


